var simulationToggle = document.getElementById('${portletNamespace}simulationToggleId');

var sidenavInstance = Liferay.SideNavigation.initialize(simulationToggle);

var onSimulationMenuToggle = (event) => {
	if (event.detail === sidenavInstance) {
		const state = event.type === 'open.lexicon.sidenav' ? 'open' : 'close';

		Liferay.fire('SimulationMenu:' + state + 'SimulationPanel');
	}
};

document.addEventListener(
	'closed.lexicon.sidenav',
	onSimulationMenuToggle
);

document.addEventListener(
	'open.lexicon.sidenav',
	onSimulationMenuToggle
);

Liferay.once(
	'screenLoad',
	function() {
		Liferay.SideNavigation.destroy(simulationToggle);

		document.removeEventListener(
			'closed.lexicon.sidenav',
			onSimulationMenuToggle
		);

		document.removeEventListener(
			'open.lexicon.sidenav',
			onSimulationMenuToggle
		);
	}
);
