$border-color: #f1f2f5;
$complementary-color: #30313f;
$input-bg: #f1f2f5;
$light-color: #e7e7ed;

$lead-font-weight: 400;
$small-font-size: 0.875rem;

$btn-outline-secondary: (
	color: #6b6c7e,
);

$portlet-decorate-bg: #fff;
$portlet-decorate-border: 1px solid $light-color;
