/*
* Global
*/

// #wrapper {
// 	--body-bg: $dark;
// }

// #wrapper {
// 	--body-bg: var(--dark);
// }

%cut-top-right {
	--cut: 1rem;
	position: relative;
	clip-path: polygon(
		0 0,
		calc(100% - var(--cut)) 0,
		100% var(--cut),
		100% 100%,
		0 100%
	);

	&:before {
		border-color: transparent; // inherit transparent transparent;
		border-right-color: inherit;
		border-style: solid;
		border-width: 0 var(--cut) var(--cut) 0;
		content: '';
		position: absolute;
		right: 0;
		top: 0;
	}
}

#wrapper {
	--body-bg: var(--dark);
	--body-color: var(--secondary);

	.navbar-classic {
		background-color: transparent;
	}

	.text-dark {
		--dark: var(--light);
	}

	.navbar-light .navbar-nav .active > .nav-link {
		color: var(--light);
	}

	.input-group .input-group-inset-item-after,
	.form-control {
		color: var(--light);
	}

	.input-group .input-group-inset-item,
	.form-control {
		border-radius: 0;
	}

	.input-group .input-group-inset-item,
	.input-group-inset:focus ~ .input-group-inset-item,
	.form-control,
	.form-control:focus {
		background-color: transparent;
		border-color: var(--secondary);
	}

	.user-icon-color-8 {
		box-shadow: none;
		color: var(--dark);
	}

	.navbar-classic.navbar-light {
		border-color: var(--secondary);
	}

	.braindance .container-fluid {
		// padding-block: 3rem;
		padding-bottom: 3rem;
		padding-top: 3rem;
	}

	.portlet-topper {
		--portlet-topper-bg: var(--primary);
		--portlet-topper-border: var(--primary);
		--portlet-topper-border-radius: 0;
		--portlet-topper-color: var(--dark);

		--cut: 0.5rem;
		@extend %cut-top-right;

		@media (min-width: 768px) {
			position: absolute;
		}

		// Temp fix
		.component-action {
			height: 1rem;
			width: 1rem;
			// aspect-ratio: 1;
		}
	}
}
