/*
* Cards
*/

// .card {
// 	background-color: transparent;
// 	border-width: 1px;
// 	border-color: var(--secondary);
// 	border-radius: 0;

// 	clip-path: polygon(
// 		0 0,
// 		75% 0,
// 		100% 25%,
// 		100% 100%,
// 		0 100%
// 	);
// }

// .card {
// 	background-color: transparent;
// 	border-width: 1px;
// 	border-color: var(--secondary);
// 	border-radius: 0;

// 	position: relative;
// 	clip-path: polygon(
// 		0 0,
// 		calc(100% - var(--cut)) 0,
// 		100% var(--cut),
// 		100% 100%,
// 		0 100%
// 	);

// 	&:before {
// 		content: '';
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		border-style: solid;
// 		border-width: 0 var(--cut) var(--cut) 0;
// 		border-color: transparent; // inherit transparent transparent;
// 		border-right-color: inherit;
// 	}
// }

#wrapper {
	.card {
		background-color: transparent;
		border-color: var(--secondary);
		border-radius: 0;
		border-width: 1px;
		color: var(--light);

		--cut: 3rem;
		@extend %cut-top-right;
	}

	.active .card {
		--secondary: var(--primary);
	}

	.card-title {
		color: inherit;
	}

	.component-action {
		&,
		&:hover,
		&:focus {
			color: inherit;
		}
	}

	.custom-control-input:checked ~ .custom-control-label::before {
		background-color: var(--primary);
		border-color: var(--primary);
	}

	.custom-checkbox
		.custom-control-input:checked
		~ .custom-control-label::after {
		filter: invert(1);
	}

	.card-type-asset .card-row {
		align-items: center;
	}

	.card-type-asset .aspect-ratio {
		border-color: var(--secondary);
	}

	.card-type-asset.active .card-type-asset-icon > .lexicon-icon {
		fill: var(--primary);
		filter: drop-shadow(0 0 3px var(--primary));
	}
}
