@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

%cut-top-right {
	--cut: 1rem;
	position: relative;
	clip-path: polygon(
		0 0,
		calc(100% - var(--cut)) 0,
		100% var(--cut),
		100% 100%,
		0 100%
	);

	&:before {
		border-color: transparent;
		border-right-color: inherit;
		border-style: solid;
		border-width: 0 var(--cut) var(--cut) 0;
		content: '';
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}
}

.card {
	@extend %cut-top-right;
	--cut: 3rem;
}

.active {
	&.card-type-asset .aspect-ratio,
	.card {
		border-color: $primary;
	}
}

.popover-header {
	@extend %cut-top-right;
	--cut: 0.5rem;
	bottom: 100%;
	display: inline-block;
	left: -1px;
	position: absolute;
}

/**/

@media (min-width: 576px) {
	.modal-dialog:not(.modal-full-screen) {
		max-width: 600px !important;
	}
}

.product-menu .sidebar-body {
	top: 0 !important;
}
