@import 'atlas-variables';

.dsm-actions-icon-selection-modal ul li {
	color: $gray-600;
	cursor: pointer;

	&:hover {
		background-color: #f0f5ff;
		color: #272833;
	}
}

.panel-unstyled {
	margin-bottom: 0;
	padding: 1rem 1.5rem;

	.panel-header {
		&,
		&.collapsed {
			border-color: $gray-400;
		}

		&.panel-header-link {
			border-radius: 0;
		}
	}
}
