@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .table-autofit {
	.list-visualization-mode-label-cell {
		min-width: 20ch;
		width: 30%;
	}

	.list-visualization-mode-value-cell {
		border-left: none;
		width: auto;
	}
}
