// Shared
.lfr-asset-column-details {
	.lfr-asset-categories {
		color: $secondary;

		.lfr-asset-category {
			color: $gray-700;
		}
	}

	.lfr-asset-description {
		color: $dark-l2;
		font-style: italic;
		margin: 0.5em auto 2em;

		@include hyphens();
	}

	.lfr-asset-icon {
		border-right: 1px solid transparent;
		color: $secondary-l1;
		float: left;
		line-height: 1em;
		margin-right: 10px;
		padding-right: 10px;

		&.last {
			border-width: 0;
		}
	}

	.lfr-asset-tags {
		color: $secondary;

		.tag {
			color: $gray-700;
		}
	}

	.lfr-asset-metadata {
		clear: both;
		margin-bottom: 1.5em;
		padding-bottom: 1.5em;
	}

	.lfr-panel {
		clear: both;
		margin-bottom: 0.2em;

		&.lfr-extended {
			border: 1px solid $secondary-l2;
			margin-bottom: 0;
		}
	}

	.taglib-custom-attributes-list label,
	.lfr-asset-field label {
		display: block;
	}

	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}
}

.lfr-form-row {
	border-bottom: 1px solid $secondary-l2;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 1px 5px 25px;
	position: relative;

	&:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
	}

	&:hover {
		border-color: $secondary-l2;
		border-width: 1px 0;
		padding-top: 0;
	}

	&.lfr-form-row-inline .form-group {
		margin-right: 5px;
	}

	legend .field-label {
		float: left;
		margin-right: 10px;
	}

	.handle-sort-vertical {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAA1VBMVEUAAAD///9SVFVTVVZUVVZUVldVVlZVVldVV1dWVldWV1dWV1hXV1hXWFhXWlpYWVlZWVlZWltcXV1dXV5eX19fYGBhZGRjZWZlZmdmZ2dmaWpub29ucHFvcHBxcnKIi42OkpOVmZuXmJmYmpqZmpukqKmus7Sytbeytri1t7e6v8C7wMG9v7/K0NLX3N7d4ePe5Obf5OXh5efi5OXk6evl6ern6enn6uzs7+/s8PHt8PHu8PHw8vPw8/Px8/Px9PX09vb29/j3+Pn4+fr4+vr6+/v6+/zMjPJ8AAAAAnRSTlMAAHaTzTgAAAChSURBVHjaXc7FAoJQEEbhf0AMZBzsxu7uwkR9/0dS4a78lmd1QH9AAOaNimFUGnP8EDDM6XGxbSmMgtDVDFH6vzBNGG9FMjOA6pq8ngGW9hpUioqwItUDSGd5KSLZK0gzzcctEDJTJ1CemWMKl8+gmsmewtw8giZJ9u6BSHq1A6FjcVgZuP56r8i+4viy9APQdCzLaW1PC6iAzd519xt8fQCMbRmNXMRKbQAAAABJRU5ErkJggg==')
			no-repeat 0 50%;
		cursor: move;
		padding-left: 20px;
	}

	fieldset {
		border-width: 0;
		margin: 0;
		padding: 0;
	}
}

.form-control-inline {
	background-color: transparent;
	font-size: 1.125rem;
	font-weight: 700;

	&:not(:hover) {
		border-color: transparent;
	}

	&::placeholder {
		color: $secondary-l1;
		font-style: italic;
	}
}

.form-search .input-group {
	position: relative;

	&.advanced-search {
		.search-query {
			padding-left: 40px;
			z-index: 0;
		}

		.toggle-advanced {
			cursor: pointer;
			left: 0;
			line-height: 1;
			padding: 8px 10px;
			position: absolute;
			top: 0;

			.caret {
				margin-top: 7px;
			}

			.icon-search {
				font-size: 14px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		width: 100%;

		.btn {
			clip: rect(0, 0, 0, 0);
			left: -9999px;
			position: absolute;
		}

		input.search-query {
			width: 100%;
		}
	}
}

// AUI
.overlay {
	position: absolute;
}

.overlay-hidden,
.overlaymask-hidden {
	display: none;
}

// JS
.lfr-autorow-controls {
	bottom: 5px;
	position: absolute;
	right: 5px;
}

.dropdown-menu {
	.dropdown.open > &,
	.overlay-content .open > & {
		display: block;
	}
}
